<h2>Add a new celebrity</h2>

<form id="create-form" action="/celebrities/create" method="post">
<input
  name="name"
  type="string"
  value="{{name}}"
  placeholder="Enter the name"
/>
<input
  name="occupation"
  type="string"
  value="{{occupation}}"
  placeholder="Enter the occupation"
/>
<input
  name="catchPhrase"
  type="string"
  value="{{catchPhrase}}"
  placeholder="Enter his/her most famuos sentence"
/>
<button type="submit">Save!</button>
</form>